@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="app-one"></div>
    <div id="app-two"></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <script type="module" src="https://127.0.0.1:5173/src/appone/main.js"></script>
    <script type="module" src="https://127.0.0.1:5173/src/apptwo/main.js"></script>
</div>
